body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

span {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}

.link-btn {
    text-decoration: none;
    background-image: linear-gradient(purple, cyan, blue);
    padding: 10px 30px;
    color: black;
    border-radius: 5px;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    margin-bottom: 150px;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}